package profile

import (
	"gwentgg/db/models"
)

css columnWrapper() {
  display: flex;
  flex-direction: column;
  width: 30%;
}

templ RankedColumn(user *models.User, season string) {
  <div class={ columnWrapper() }>
    @SectionTitle("Ranked")
    @Season(user, season)
    @SectionTitle("Factions")
    @Factions(user)
  </div>
}
