package fonts

css FontRegular() {
  font-family: 'HalisGR-Regular';
}

css FontGwent() {
	font-family: 'GWENT';
}

css FontMedium() {
	font-family: 'HalisGR-Medium';
}

css FontBold() {
	font-family: 'HalisGR-Bold';
}
