package common

css Button() {
	margin: 10px 0px;
	padding: 12px 24px;
	font-size: 20px;
	background: #26eb9f;
	opacity: 0.8;
	color: #131315;
	border: none;
	border-radius: 10px;
	box-shadow: none;
	font-family: 'GWENT';
	cursor: pointer;
	transition: opacity 0.3s ease;
}
