package components

templ NotFound() {
	<html>
		<head>
			<title>404 | Gwent.gg</title>
			<link rel="icon" type="image/x-icon" href="/favicon.png">
		</head>
		<body>
			<h1 class={font()}>404 - Page not found</h1>
		</body>
	</html>
}
