package colors

css HighlightGreen() {
  color: #26eb9f;
}

css HighlightRed() {
  color: #ff3c3d;
}

css HighlightBrown() {
  color: #8f7b57;
}

css PrimaryBg() {
  background-color: #131315;
}

css SecondaryBg() {
  background-color: #444444;
}

css HighlightGray() {
  color: #aaa;
}
